{{>partials/header}}

<form action="/novoUsuario" method="POST">
    <h2>Novo Usuário</h2>
    <input type="text" name="name" placeholder="Digite um nome"><br>
    <input type="text" name="age" placeholder="Digite sua idade"><br>
    <input type="submit" value="enviar dados"/> 
</form>





<h2>Usuarios do banco</h2>

{{#users}}

    <li>Nome: {{name}} - Idade: {{age}}</li>

    {{/users}}

{{>partials/footer}}